/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.gradient {*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    background: linear-gradient(135deg, #fff5d5 0%, #ffd000 20%, #ffbf00 40%, #ffa600 60%, #ff8c00 80%);*/
/*    background-size: 400% 400%;*/
/*    animation: gradientAnimation 30s ease infinite;*/
/*}*/

/*@keyframes gradientAnimation {*/
/*    0% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*    50% {*/
/*        background-position: 100% 50%;*/
/*    }*/
/*    100% {*/
/*        background-position: 0% 50%;*/
/*    }*/
/*}*/

/* MISC Start */
.btn-dark:hover {
    background-color: rgba(33, 37, 41, 0.5);
    border-color: rgba(33, 37, 41, 0.5);
}
.more-btn {
    background-color: #f8d49c;
    color: white;
}
.more-btn:hover {
    background-color: rgba(235, 169, 55, 1);
    color: white;
}
/* MISC End */

/* Checkboxes Start */
.custom-checkbox {
    transform: scale(1.6);
    margin-right: 5px;
}

.custom-label {
    font-size: 20px;
}
/* Checkboxes End */

/* Select Start */
select {
    padding: 5px;
    font-size: 15px;
    margin-left: 5px;
}

select:hover {
    background-color: rgba(235, 169, 55, 0.5);
}
/* Select End */

/* Button Start */
.card-header {
    background-color: rgba(235, 169, 55, 0.5);
}
.btn-primary {
    background-color: rgba(235, 169, 55, 1);
    border-color: rgba(235, 169, 55, 1);
}
.btn-primary:hover {
    background-color: rgba(235, 169, 55, 0.5);
    border-color: rgba(235, 169, 55, 0.5);
}
.btn-link {
    color: rgba(235, 169, 55, 1);
}
.btn-link:hover {
    color: rgba(235, 169, 55, 0.5);
}
/* Button End */

/* Pagination Start */
.page-item.active .page-link {
    background-color: rgba(235, 169, 55, 1);
    border-color: rgba(235, 169, 55, 1);
}
.page-item .page-link {
    color: rgba(235, 169, 55, 1);
}
/* Pagination End */

/* Slider Start */
#carouselExampleCaptions {
    height: 100%;
    overflow: hidden;
}
/*.carousel-item .custom-carousel-content {*/
/*    width: 60%;*/
/*    transform: translate(0%, -10%);*/
/*}*/
.carousel-inner {
    position: relative;
}
.carousel-item {
    position: relative;
    height: 0;
    padding-bottom: 32%;
}
.custom-carousel-content {
    text-align: start;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
.custom-carousel-content h1 {
    font-size: 50px;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.custom-carousel-content h1 span {
    color: rgba(235, 169, 55, 1);
}
.custom-carousel-content p {
    font-size: 23px;
    font-weight: 500;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}
.carousel-item img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(235, 169, 55, 0.3);
}
.carousel-item:hover .overlay {
    opacity: 1;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(235, 169, 55, 0.4);
}
/* Media queries */
@media only screen and (max-width: 1222px) {
    .custom-carousel-content h1 {
        font-size: 45px;
    }
    .custom-carousel-content p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .custom-carousel-content h1 {
        font-size: 30px;
        -webkit-text-stroke-width: 0;
        text-shadow:
            0.05em 0 black,
            0 0.05em black,
            -0.05em 0 black,
            0 -0.05em black,
            -0.05em -0.05em black,
            -0.05em 0.05em black,
            0.05em -0.05em black,
            0.05em 0.05em black;
    }
    .custom-carousel-content p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 840px) {
    .custom-carousel-content h1 {
        font-size: 20px;
    }
    .custom-carousel-content p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px) {
    .custom-carousel-content h1 {
        font-size: 15px;
    }
    .custom-carousel-content p {
        font-size: 10px;
    }
}

@media only screen and (max-width: 550px) {
    .custom-carousel-content h1 {
        font-size: 13px;
    }
    .custom-carousel-content p {
        font-size: 8px;
    }
}

@media only screen and (max-width: 460px) {
    #carouselExampleCaptions {
        display: none;
    }
}
/* Slider End */

/* Navbar */
.brand-name {
    color: black;
}
.nav .nav-item .nav-link:hover {
    color: black;
}
.main-navbar {
    border-bottom: 1px solid #ccc;
    z-index: 99999999;
}
.main-navbar .top-navbar {
    background-color: rgba(235, 169, 55, 1);
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
    color: #fff;
}
.main-navbar .top-navbar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu {
    padding: 0 0;
    border-radius: 0;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: rgba(235, 169, 55, 1);
    font-size: 14px;
}
.main-navbar .navbar {
    padding: 0;
    background-color: #f8d49c;
}
.main-navbar .navbar .nav-item:hover {
    background-color: rgba(235, 169, 55, 0.6);
    border-radius: 5px;
}
.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: black;
    font-size: 15px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        margin: 5px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        transform: translate(0, 7.5px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        transform: translate(0, -7.5px) rotate(45deg);
    }
}
/* Navbar End */

/* Category Start */
.category-card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 18%;
}
.category-card::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 169, 55, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.category-card:hover::before {
    opacity: 1;
}
.category-card a {
    text-decoration: none;
}
.category-card-img {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.category-card-img img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.category-card .category-card-body {
    padding: 10px 16px;
}
.category-card .category-card-body h5 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
/* Category End */

/* Product Card */
.product-card {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 10%;
}
.product-card::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(235, 169, 55, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.product-card:hover::before {
    opacity: 1;
}
.product-card a {
    text-decoration: none;
    color: black;
}
.product-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
    z-index: 1;
}
.product-card .product-card-img {
    position: relative;
    height: 0;
    padding-bottom: 100%;
}
.product-card .product-card-img img {
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
/*.product-card .product-card-body {*/
/*    padding: 10px 10px;*/
/*}*/
.product-card .product-card-body .product-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0;
    font-size: 12px;
    margin-top: 10px;
}
/* Product Card End */

/* Footer Start */
footer {
    background-color: rgba(235, 169, 55, 1);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow-x: hidden;
    width: 100%;
    bottom: 0;
    z-index: 99999999;
}
.website-name {
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    text-align: left;
    margin-right: 20px;
}
.website-name img {
    position: relative;
    bottom: 5px;
    right: 5px;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}
.social-links a {
    color: white;
    margin-right: 10px;
    font-size: 24px;
}
.social-links a:hover {
    color: black;
}
.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.footer-links a:hover {
    color: black;
}

@media only screen and (max-width: 405px) {
    .website-name {
        display: none;
    }
}
/* Footer End */

/* Product View Start */
.product-view .product-name {
    font-size: 24px;
    color: rgba(235, 169, 55, 1);
}
.product-view .product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path {
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover {
    background-color: rgba(235, 169, 55, 1);
    color: #fff;
}
.product-view .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
/* Product View End */
